.tech {
    width: 50%;
    padding-left: 18px;
    display: flex;
    align-items: center;

}

.developer {
    width: 50%;
    display: flex;
    align-items: center;
}

.techHeader {
    width: 50%;
    padding-left: 18px;
}

.developerHeader {
    width: 50%
}

.row {
    display: flex;
    width: 606px;
    height: 36px;
    border-bottom: 1px solid #E5E5E5;
}

.row:last-child {
    border-bottom: none;
}

.rowHeader {
    width: 606px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #E5E5E5;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}

.loading {
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.56);
    z-index: 9999;
}



