.App {
    --header_height: 60px;
    width: 1280px;
    padding: 20px;
    border-top: 1px solid rgba(217, 217, 217, 1);
    border-bottom: 1px solid rgba(217, 217, 217, 1);

}

[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

.hw {
    gap: 24px;
    position: relative;
}

.hwTitle {
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.messages {
    display: flex;
    flex-direction: column;

}

