.friendMessage {
    width: 50%;

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.friendText {
    background-color: #F5F7FB;
    height: 100%;

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
