.friendMessage {
    background-color: yellow;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
